{% import 'appbuilder/general/lib.html' as lib %}

<div class="well well-sm" style="display:none">
    {% block list_header scoped %}
        {{ lib.render_list_header(can_add, page, page_size, count, filters, actions, modelview_name) }}
    {% endblock %}
</div>

    {% block begin_content scoped %}
    <div class="list_wrap">
      <ul class="list">
    {% endblock %}

    {% block begin_loop_values %}
        {% for item in value_columns %}
           {% for value in include_columns %}
           {% endfor %}
           {% set value = "name" %}
              <li class="clearfix" data-id="{{ item['id'] }}" data-line_id="{{ item['line_id'] }}">
                <!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar" />-->
                <div class="image-cropper">
                  <img class="profile-pic" src="data:image/png;base64,{{item['icon_base64']}}" alt="avatar" />
                </div>
                <div class="about">
                  <div class="name">
                    {% set formatter = formatters_columns.get(value) %}
                    {% if formatter %}
                        {{ formatter(item[value]) }}
                    {% else %}
                        {{ item[value] }}
                    {% endif %}
                  </div>
                  <div class="status">
                    {% set formatter = formatters_columns.get('updated') %}
                    <span class="message-data-time">{{ formatter(item['updated']) }}</span>
                    <!--<i class="fa fa-circle online"></i> online-->
                  </div>
                </div>
              </li>
        {% endfor %}
    {% endblock %}

    {% block end_content scoped %}
        </ul>
      </div>
    {% endblock %}

<script>
$(document).ready(function() {
  $.fn.get_url_param = function(name){
    if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search))
      return decodeURIComponent(name[1]);
  };

  var reorder = function($new_eles, $old_eles) {
    var line_ids = $new_eles.map(function(i, v){ return $(v).data('line_id');}).toArray();
    var new_line_ids = line_ids.slice(0, line_ids.length);
    var delete_idxs = [];

    $old_eles.each(function(){ 
      var line_id = $(this).data('line_id'); 
      var order_id = line_ids.indexOf(line_id);
      $(this).data('order_id', order_id);
      delete_idxs.push(order_id);
    });

    delete_idxs.sort(function(a, b) { 
      return  a - b;
    });

    for (var i = delete_idxs.length - 1; i >= 0; i--) {
      new_line_ids.splice(delete_idxs[i], 1);
    }

    $new_eles.each(function(e, t){
      var $t = $(t);
      var line_id = $t.data('line_id');
      var time = $t.find('.message-data-time').html();
      var $old_ele = $old_eles.filter(function(){return $(this).data('line_id') == line_id;});
      if ($old_ele.length) {
        $old_ele.find('.message-data-time').html(time);
      }
    });


    var $old_eles_p = $old_eles.parent();
    var $new_eles_p = $new_eles.parent();
    for (var i = 0; i < new_line_ids.length; i++) {
      $new_eles_p.find('li[data-line_id="'+new_line_ids[i]+'"]').detach().data('order_id', line_ids.length).prependTo($old_eles_p);
    }
    var order = "asc";
    var $ordered = $old_eles.sort(function(a, b) {
      var an = $(a).data('order_id'),
        bn = $(b).data('order_id');

      if (order == "asc") {
        if (an > bn) {
          //$(b).insertBefore($(a));
          return 1;
        }
        if (an < bn) {
          //$(a).insertBefore($(b));
          return -1;
        }
      } 
      else if (order == "desc") {
        if (an < bn) {
          //$(b).insertBefore($(a));
          return 1;
        }
        if (an > bn) {
          //$(a).insertBefore($(b));
          return -1;
        }
      }
      return 0;
    });
    $old_eles.parent().map(function() {
      return {t:this, l:this.childNodes.length};
    }).each(function(i, o) {
      $(o.t).append($ordered.splice(0, o.l));
    });
    //$('.list_wrap ul').empty().append($ordered);
    //$('li.clearfix').each(function(){ 
    //  console.log( $(this).data('order_id'), $(this).find('.name').text());
    //});
  };
  var refresh_contactgroup = function() {
    var url = '{{url_for('ContactGroupModelChatView.list')}}';
    var name = $.fn.get_url_param('name');
    var me_id = $.fn.get_url_param('me_id');
    url += '?name=' + name + '&me_id=' + me_id;
    var that = this;
    $.get(url, function(){
    }).done(function(msgs) {
      var $child = $(msgs);
      reorder($child.find('li.clearfix'), $('#people-list li.clearfix'));
      //$('.list_wrap').empty().append($child.find('.list'));
    });
  };

  $.fn.refresh_contactgroup = function() {
    $.fn.refresh_contactgroup_id = setInterval(function() {
      refresh_contactgroup();
    }.bind(this), 1000);
  };

  $.fn.refresh_contactgroup();

  // for prevent page
  var $navbar_inverse = $('.navbar.navbar-inverse');
  $navbar_inverse.find('.navbar-brand a').prepend('<i class="glyphicon glyphicon-menu-left" style="color:white;"></i>');
  $navbar_inverse.find('.navbar-brand a').on('click', function(e) {
    e.preventDefault();
    if ($('.chat-history').is(':visible')) {
      $('.fa.fa-times').trigger('click');
    }
    else {
      history.go(-1);
    }
    return false;
  });
});

</script>


