{% import 'appbuilder/general/lib.html' as lib %}

<div class="well well-sm" style="display:none">
    {% block list_header scoped %}
        {{ lib.render_list_header(can_add, page, page_size, count, filters, actions, modelview_name) }}
    {% endblock %}
</div>

    {% block begin_content scoped %}
    <div class="list_wrap">
      <ul class="list">
    {% endblock %}

    {% block begin_loop_values %}
        {% for item in value_columns %}
           {% for value in include_columns %}
           {% endfor %}
           {% set value = "name" %}
              <li class="clearfix" data-id="{{ item['id'] }}" data-line_id="{{ item['line_id'] }}">
                <!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar" />-->
                <div class="image-cropper">
                  <img class="profile-pic" src="data:image/png;base64,{{item['icon_base64']}}" alt="avatar" />
                </div>
                <div class="about">
                  <div class="name">
                    {% set formatter = formatters_columns.get(value) %}
                    {% if formatter %}
                        {{ formatter(item[value]) }}
                    {% else %}
                        {{ item[value] }}
                    {% endif %}
                  </div>
                  <div class="status">
                    {% set formatter = formatters_columns.get('updated') %}
                    <span class="message-data-time">{{ formatter(item['updated']) }}</span>
                    <!--<i class="fa fa-circle online"></i> online-->
                  </div>
                </div>
              </li>
        {% endfor %}
    {% endblock %}

    {% block end_content scoped %}
        </ul>
      </div>
    {% endblock %}

<script>
$(document).ready(function() {
  $.fn.get_url_param = function(name){
    if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search))
      return decodeURIComponent(name[1]);
  };

  var reorder = function($new_eles, $old_eles) {
    var line_ids = $new_eles.map(function(i, v){ return $(v).data('line_id');}).toArray();
    var new_line_ids = line_ids.slice(0, line_ids.length);
    var delete_idxs = [];

    $old_eles.each(function(){ 
      var $this = $(this);
      var display_name = $.fn.replace_emojione($(this).find('.name').html());
      var line_id = $this.data('line_id'); 
      var order_id = line_ids.indexOf(line_id);

      $this.find('.name').html(display_name);
      $this.data('order_id', order_id);
      delete_idxs.push(order_id);
    });

    delete_idxs.sort(function(a, b) { 
      return  a - b;
    });

    for (var i = delete_idxs.length - 1; i >= 0; i--) {
      new_line_ids.splice(delete_idxs[i], 1);
    }

    $new_eles.each(function(e, t){
      var $t = $(t);
      var line_id = $t.data('line_id');
      var time = $t.find('.message-data-time').html();
      var $old_ele = $old_eles.filter(function(){return $(this).data('line_id') == line_id;});
      if ($old_ele.length) {
        $old_ele.find('.message-data-time').html(time);
      }
    });


    var $old_eles_p = $old_eles.parent();
    var $new_eles_p = $new_eles.parent();
    for (var i = 0; i < new_line_ids.length; i++) {
      $new_eles_p.find('li[data-line_id="'+new_line_ids[i]+'"]').detach().data('order_id', line_ids.length).prependTo($old_eles_p);
    }
    var order = "asc";
    var $ordered = $old_eles.sort(function(a, b) {
      var an = $(a).data('order_id'),
        bn = $(b).data('order_id');

      if (order == "asc") {
        if (an > bn) {
          //$(b).insertBefore($(a));
          return 1;
        }
        if (an < bn) {
          //$(a).insertBefore($(b));
          return -1;
        }
      } 
      else if (order == "desc") {
        if (an < bn) {
          //$(b).insertBefore($(a));
          return 1;
        }
        if (an > bn) {
          //$(a).insertBefore($(b));
          return -1;
        }
      }
      return 0;
    });
    $old_eles.parent().map(function() {
      return {t:this, l:this.childNodes.length};
    }).each(function(i, o) {
      $(o.t).append($ordered.splice(0, o.l));
    });
    //$('.list_wrap ul').empty().append($ordered);
    //$('li.clearfix').each(function(){ 
    //  console.log( $(this).data('order_id'), $(this).find('.name').text());
    //});
  };
  var refresh_contactgroup = function() {
    var url = '{{url_for('ContactGroupModelChatView.list')}}';
    var name = $.fn.get_url_param('name');
    var me_id = $.fn.get_url_param('me_id');
    url += '?name=' + name + '&me_id=' + me_id;
    var that = this;
    $.get(url, function(){
    }).done(function(msgs) {
      var $child = $(msgs);
      reorder($child.find('li.clearfix'), $('#people-list li.clearfix'));
      //$('.list_wrap').empty().append($child.find('.list'));
    });
  };

  $.fn.refresh_contactgroup = function() {
    $.fn.refresh_contactgroup_id = setInterval(function() {
      refresh_contactgroup();
    }.bind(this), 1000);
  };

  $.fn.replace_emojione = function(from_display_name) {
    var name = from_display_name; 
    if (from_display_name.search('emojione') != -1) {
      var $from_display_name = $('<div>' + from_display_name + '</div>');
      if (-1 != $from_display_name.html().search('&lt;')) {
        $from_display_name = $('<div>' + $from_display_name.text() + '</div>');
      }
      var $emojione = $from_display_name.find('img');
      var alt = $emojione.attr('alt');
      $emojione.after('<span>' +alt+ '</span>');
      $emojione.remove();
      name = $from_display_name.html();
    }

    return name;
  }

  $.fn.refresh_contactgroup();

  // for prevent page
  var $navbar_inverse = $('.navbar.navbar-inverse');
  var $navbar_brand = $navbar_inverse.find('.navbar-brand a');
  var project_name = $navbar_brand.html();
  $navbar_brand.html('<div class="overme">'+project_name+'</div>');
  var $title = $navbar_brand.find('.overme');
  $navbar_brand.before('<i class="glyphicon glyphicon-menu-left" style="color:white;padding: 0 15px 0 0;"></i>');
  $('.nav.navbar-nav:first').prepend('<li><a href="#"><i class="glyphicon glyphicon-refresh" style="color:white;padding: 0 0px;">&nbsp;{{_('reload this page')}}</i></a></li>');
  $('.nav.navbar-nav:first').prepend('<li><a href="#"><i class="glyphicon glyphicon-play-circle" style="color:white;padding: 0 0px;">&nbsp;{{_('force sync to server')}}</i></a></li>');
  var name = $.fn.get_url_param('name');
  var sync_group_url = "{{url_for('LineFuncuntionView.sync_group')}}?name=" + name;

  $('footer').hide();
  $('.panel').css('margin', '0px');

  $('.glyphicon-refresh').on('click', function() {
    location.reload(true);
  });

  $('.glyphicon-play-circle').on('click', function() {
    $.get(sync_group_url, function(){
      }).done(function(msgs) {
        ab_alert("ok");
    });
  });

  $navbar_inverse.find('.glyphicon-menu-left').on('click', function(e) {
    e.preventDefault();
    if ($('.chat-history').is(':visible')) {
      $('.fa.fa-times').trigger('click');
      $title.html(project_name);
    }
    else {
      history.go(-1);
    }
    return false;
  });

  document.addEventListener('touchstart', handleTouchStart, false);
  document.addEventListener('touchmove', handleTouchMove, false);

  var xDown = null;
  var yDown = null;

  function getTouches(evt) {
    return evt.touches ||             // browser API
           evt.originalEvent.touches; // jQuery
  }

  function handleTouchStart(evt) {
      const firstTouch = getTouches(evt)[0];
      xDown = firstTouch.clientX;
      yDown = firstTouch.clientY;
  };

  function handleTouchMove(evt) {
    if ( ! xDown || ! yDown ) {
      return;
    }

    var xUp = evt.touches[0].clientX;
    var yUp = evt.touches[0].clientY;

    var xDiff = xDown - xUp;
    var yDiff = yDown - yUp;

    if ( Math.abs( xDiff ) > Math.abs( yDiff ) ) {/*most significant*/
        if ( xDiff > 0 ) {
          /* left swipe */
          //$navbar_inverse.find('.glyphicon-menu-left').trigger('click');
        } else {
          /* right swipe */
          $navbar_inverse.find('.glyphicon-menu-left').trigger('click');
        }
    } else {
      if ( yDiff > 0 ) {
        /* up swipe */
      } else {
        /* down swipe */
      }
    }
    /* reset values */
      xDown = null;
    yDown = null;
  };
});

</script>


