{% extends "appbuilder/base.html" %}
{% import 'appbuilder/general/lib.html' as lib %}
{% block content %}

{% block show_form %}
    {{ widgets.get('show')()|safe }}
<style>
.qr-code-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  background: url({{url_for('static',filename='line/qrcode_line.png')}});
}
</style>
<script type="text/javascript">
  $(document).ready(function() {
    var $img = $('.qr-code-container > img');
    var old_src = $img.attr('src');
    var reload = function() {
      location.reload();
      //$img.attr('src', old_src + "?" + new Date().getTime());
      setTimeout(reload, 6000)
    };
    //setTimeout(reload, 6000)
    var reload_qrcode = function() {
      var url = '{{url_for('ProjectFile.show', pk=0)}}';
      url = url.slice(0, -1);
      url = location.href;
      $.get(url, function(){
      }).done(function(msgs) {
        var $child = $(msgs);
        var $img = $child.find('.qr-code-container > img');
        var src = $img.attr('src');
        $('.qr-code-container > img').attr('src', src);
        setTimeout(reload_qrcode, 1000)
      });
    }
    setTimeout(reload_qrcode, 1000)
    $('footer').remove();
    var $qrcode_reader_hint = $('.qrcode-reader-hint');
    var qrcode_reader_hint_h = $qrcode_reader_hint.height() + parseInt($qrcode_reader_hint.css('padding-top').slice(0, -2), 10) + parseInt($qrcode_reader_hint.css('padding-bottom').slice(0, -2), 10);
    $('.line-hint').height($(window).height() - qrcode_reader_hint_h - $('.line-hint').offset().top);
    var $navbar_inverse = $('.navbar.navbar-inverse');
    $navbar_inverse.find('.navbar-brand a').html('{{_("show your qrcode")}}').prepend('<i class="glyphicon glyphicon-menu-left" style="color:white;"></i>');
    $navbar_inverse.find('.navbar-brand a').on('click', function(e) {
      e.preventDefault();
      history.go(-1);
      return false;
    });
    //$navbar_inverse.find('button').empty().append('<span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>');
    //$('.navbar-brand').prepend('<i class="glyphicon glyphicon-menu-left" style="color:white;"></i>');
  });
</script>
{% endblock show_form %}

{% endblock %}

{% block add_tail_js %}
<script src="{{url_for('appbuilder.static',filename='js/ab_keep_tab.js')}}"></script>
{% endblock %}
