<div class="row line-wrapper">
  <link href="/static/css/bootstrap_3.3.7.min.css" rel="stylesheet">
  {% import 'appbuilder/general/lib.html' as lib %}
  {% include 'appbuilder/general/confirm.html' %}
  {% include 'appbuilder/general/alert.html' %}
  <div class="row">
    {% for item in include_columns %}
    {% set formatter = formatters_columns.get(item) %}
    {% set v = value_columns[loop.index-1]%}
    <div class="qr-code-container-wrapper text-center">
      {{formatter(v) if formatter else v}}
    </div>
    {% endfor %}
    <div class="qr-code-container-icon-wrapper text-center" style="display:none">
      <!--<div class="share-icon-wrapper"><div class="share-icon" ><img src="{{url_for('static',filename='line/bluetooth.png')}}" class="share-icon"></div></div>
      <div class="share-icon-wrapper"><div class="share-icon" ><img src="{{url_for('static',filename='line/static.png')}}" class="share-icon"></div></div>-->
    </div>
    <!--<div class="clearfix"></div>-->
    <div class="qr-code-container-hint text-center">
      <p>{{_("Have someone scan your QR code to be added as their friend. They can also add you using Bluetooth or ultrasonic sound.")}}
    </div>

    <div class="clearfix"></div>
  </div>
  <div class="row line-hint">
  </div>


  <div class="well well-sm qrcode-reader-hint">
    <p>{{_("QR code reader")}}</p>
  </div>
</div>
