{% extends "appbuilder/base.html" %}
{% import 'appbuilder/general/lib.html' as lib %}

{% block content %}
{{ lib.panel_begin(title) }}

<link href="{{url_for('static',filename='css/chat.css')}}?v=6" rel="stylesheet">
<style>
.tab-content .pull-right {
  display: none;
}
</style>

{% if related_views is defined %}
    <ul class="nav nav-tabs">
        {% for view in related_views %}
            <li>
                <a style="display:none" href="#{{view.__class__.__name__}}" data-toggle="tab">{{view.title}}</a>
            </li>
        {% endfor %}
    </ul>

    <div class="tab-content">
    {% for view in related_views %}
        <div id="{{view.__class__.__name__}}" class="tab-pane">
            {{ widgets.get('related_views')[loop.index - 1](pk = pk)|safe }}
        </div>
    {% endfor %}
{% endif %}

{% block show_form %}
    <div style="display:none" id="Home" class="tab-pane active">
        {{ widgets.get('show')()|safe }}
    </div>
{% endblock show_form %}

{% if related_views is defined %}</div>{% endif %}
{{ lib.panel_end() }}

<script type="text/javascript">
  $(document).ready(function() {
    $('a>.fa-search').parent().each(function(){
      this.title = this.dataset.originalTitle = "{{_("show your qrcode")}}"
    });

    // for kw ask
    {
      var hide = 0;
      var no_monitor = 0;
      var no_active_nr = 0;
      var online_nr = 0;
      var $all_tr = $('#ShowProjectFilesByUser tbody tr');
      var logoff_idx = $all_tr.find('.offline,.logout').parent().index();
      var btn_idx = $all_tr.find('button').parent().index();

      $('thead th:eq(' + logoff_idx + ')').hide();
      $('thead th:eq(' + btn_idx + ')').hide();

      $all_tr.each(function() {
        var $this = $(this);

        $this.find("td:eq('" + logoff_idx + "')").hide();
        $this.find("td:eq('" + btn_idx + "')").hide();

        if ($this.find('.btn-danger').length) {
          $this.hide();
          no_active_nr++;
        }
        else if ($this.find('.btn-secondary').length) {
          $this.hide();
          no_monitor++;
        }
        else {
          var $p = $this.find('.fa-search').closest('a');
          $this.find('.logout').html('').addClass('btn btn-sm btn-default').append('<i class="fa fa-trash"></i>').detach().insertBefore($p);
          online_nr++;
          //var $trash = $p.clone();
          //$trash.find('.fa-search').removeClass('fa-search').addClass('fa-trash logout');
          //$trash.insertBefore($p);
          //$p.on('click', function(e) {
          //});
        }
      });

      if (no_monitor) {
        var $add = $('<a href="#" class="btn btn-sm btn-primary" data-toggle="tooltip" rel="tooltip" title="" data-original-title="{{_('Add a new record')}}"> <i class="fa fa-plus"></i> </a>');
        $('#ShowProjectFilesByUser .fa-arrow-left').closest('a').after($add).after('&nbsp;&nbsp;');
        $add.off().on('click', function(e) {
          if ($('tbody tr:visible').length >= no_monitor + online_nr) {
            var $this = $(this);
            $this.attr('disabled', 'disabled');
            this.title = this.dataset.originalTitle = "";
            return true;
          }

          $('#ShowProjectFilesByUser tbody tr:hidden').each(function() {
            var $this = $(this);
            if ($this.find('.btn-secondary').length) {
              $this.show();
              return false;
            }
          });
        });
      }

      if (no_active_nr) {
        var tip = "{{_("you have _ un-active account")}}";
        tip = tip.replace('_', no_active_nr);
        var $hint = $('<button type="button" class="btn btn-sm btn-danger">'+tip+'</button>');

        //$('#ShowProjectFilesByUser .well .pull-right').before($hint).after('&nbsp;&nbsp;');
        $('#ShowProjectFilesByUser .well .pull-right').before($hint);
        $('#ShowProjectFilesByUser .well .pull-right').siblings('a.btn-default').remove();
      }

      $('.btn-group-xs').css('display', 'block').closest('td').css('width', '15%');
      $('.btn-group-xs').closest('tr').find('td:last').css('width', '10%');
      $('.btn-group-xs a').removeClass('btn btn-sm');
      $('.btn-group-xs i').wrap('<button type="button" style="border-radius:50%;" class="btn btn-default btn-circle btn-xl"></button>');
    }

    var _get_live_status = function($this) {
      var url = '{{url_for('LineFuncuntionView.check_status')}}';
      var name = $this.find('.name').data('name')
      var me_id = $this.find('.name').data('me_id')
      url += '?name=' + name + '&me_id=' + me_id;
      var that = this;
      $.get(url, function(){
      }).done(function(msgs) {
        msg = JSON.parse(msgs);
        if (msg.status != 8) {
          $this.closest('td').addClass('loading-mask').find('span').first().html(msg.info);
          setTimeout(_get_live_status.bind(this, $this), 1000);
        }
        else {
          $this.closest('td').removeClass('loading-mask').find('span').first().remove();
        }

        //console.log(msgs);
      });
    };

    var get_live_status = function($monitor_users) {
      $monitor_users.each(function(){
        var $this = $(this);
        $this.closest('a').after('<span></span>');
        _get_live_status($this.parent());
      });
    };

    var $monitor_users = $('.image-cropper');
    get_live_status($monitor_users);
    //setInterval(function() {
    //  get_live_status($monitor_users);
    //}.bind(this), 1000);

    $('table a').off('click').on('click', function(e) {
      
      //var $target = $(e.target).closest('td');
      var $target = $(e.target);
      if (!$target.is('a')) {
        $target = $target.closest('a');
      }
      var is_show = $target.find('.fa-search').length > 0;
      //console.log(is_show, $target.closest('tr').find('td').last().html());
      var $current_tr = $target.closest('tr');
      if (is_show) {
        var pass = true;
        var txt = "";
        var line_id = $current_tr.find('td').last().html();
        if ($current_tr.find('button.btn-danger').length) {
          pass = !pass;
          txt = "{{_("please re-active your account")}}";
        }
        else if (line_id == 'None' || !line_id) {
          pass = !pass;
          txt = "{{_("please fill up your line id")}}";
        }

        if (pass) {
          return true;
        }
        else {
          e.preventDefault();
          ab_alert(txt);
          return false;
        }
      }

      var is_logout = $target.hasClass('logout');
      if (is_logout) {
        e.preventDefault();

        $('.modal-text').text("{{_("are you sure to logout?")}}");
        $('#modal-confirm').modal('show');
        $('#modal-confirm-ok').off().on('click', function(e) {
          var logout_url = $target.attr('href');
          $.ajax({
            type: "POST",
            url: logout_url,
            success: function(data) {
              //console.log(data);
              location.reload();
            }
          });
        });

        //$('#modal-alert').off('hidden.bs.modal').on('hidden.bs.modal', function (event) {
        //  var $button = $(event.relatedTarget)
        //  if ($button.length) {
        //    //location.href = index;
        //    console.log($target.find('a').attr('href'));
        //  }
        //});
        return false;
      }

    });

    $('[data-toggle="tooltip"]').tooltip();
  });
</script>

{% endblock content %}

{% block add_tail_js %}
<script src="{{url_for('appbuilder.static',filename='js/ab_keep_tab.js')}}"></script>
{% endblock %}
